.scorecard
{
    width :fit-content;
    font-size: 4em;
    margin-top: 10px;
}
.score > span
{
    display: block;
    text-align: center;
}
.score
{
    padding-left: 20px;
    border:4px solid darkred;
    background: rgb(77, 65, 2);
    padding-right: 20px;
    color: white;
    padding-left: 20px;
}
#select
{
    color: tomato;
    text-shadow: 2px 2px rgb(56, 34, 151);
    margin-top: 20px;
    font-size: 4em;
}
.your-selection
{
    margin-top: 30px;
    width: fit-content;
}
.your-selection > button
{
    border-collapse: collapse;
    border: 3px solid rgb(163, 240, 48);
    box-shadow: 2px 3px springgreen;
    background: darkcyan;
}
.your-selection > button :hover
{
    border : 4px solid red;
}
.result-board
{
    width: fit-content;
    margin-top: 15px;
}
.result-board>div
{
    display: block;
    text-align: center;
}
