
body{
    background-color: #51505C;
}
.title{
    background-color: #7CB488;
    font-size: 5em;
    text-align: center;
    color: blue;
    text-shadow: 2px 1px rgb(40, 18, 3);
    padding: 10px;
}
.choices > button > img{
    height : 200px;
    width: auto;
    border: 5px ridge rgb(0, 0, 0);
}
.choices > button > img:hover {
    border: 5px solid blue;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #D1B4B6;
    padding: 15px;
}
.results{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #93C4C0;
    padding: 15px;
}
.results > div{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.cscore{
    color: crimson;
    font-size: 3em;
    font-weight: bold;
}
.pscore{
    color: purple;
    font-size: 3em;
    font-weight: bold;
}
.resultdiv{
    color: midnightblue;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #93C4C0;
    border : 2px solid black;
    padding : 3px;
}
#footer{
    position: fixed;
    bottom: 0px;
    height: 50px;
    left:0;
    background-color: #AA9084;
    width : 100%;
    text-align: center;
    font-size: 2em;
}
#restart{
    background-color : red;
    border: 1px solid red;
    border-radius: 7%;
    font-size:larger;
    color:white;
    margin:30px;
}